p, h1, h2, h3, h4, h5, h6 {
    color: $black;
    font-family: $courier;
    line-height: 1.5;
    margin: 7px 0;
    &.upper {
        text-transform: uppercase;
    }
    &.cReg {
        font-family: $courier;
    }
    &.cItal {
        font-family: $courierI;
    }
    &.cBold {
        font-family: $courierB;
    }
    &.medium {
        font-family: $medium;
    }
    &.bold {
        font-family: $courierB;
    }
    &.heavy {
        font-family: $heavy;
    }
}

p {
    font-size: $baseSize;
}

h1 {
    font-size: $baseSize * 2;
}

h2 {
    font-size: $baseSize * 1.8;
}

h3 {
    font-size: $baseSize * 1.6;
}

h4 {
    font-size: $baseSize * 1.4;
}

h5 {
    font-size: $baseSize * 1.2;
}

h6 {
    font-size: $baseSize;
}

span.lower {
    text-transform: none;
}

span.underline{
    border-bottom: 2px dotted darken($lGray, 5%);
    display: inline-block;
    height: 16px;
}

header {
    width: 100%;
    background: $mGreen;
    height: 500px;
    display: table;
    & > div {
        display: table-cell;
        vertical-align: middle;
        //text-align: center;
        & > h1 {
            color: $white;
            width: 330px;
            //margin: 0 auto;
            white-space: nowrap;
            overflow: hidden;
            letter-spacing: 1.2px;
            animation: type 3s steps(30, end); 
        }
        & > h4 {
            color: $blue;
            width: 75px;
            //margin: 0 auto;
            white-space: nowrap;
            overflow: hidden;
            animation: type2 8s steps(7, end);
        }
    } 
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  70%{width: 0;}
  100%{ width: 100; } 
} 

a {
    text-decoration: none;
    & > p.cred, p.git {
        color: rgba($mGreen, 0.4);
        border-bottom: 7px double rgba($mGreen, 0.4);
        width: 160px;
        transition: all .3s ease-in-out;
        &:hover {
            transition: all .3s ease-in-out;
            color: rgba($mGreen, 0.8);
            border-bottom-color: rgba($mGreen, 0.8);
            cursor: pointer;
        }    
    }
    & p.git {
        width: 220px;
        margin: 28px auto;
    }
}

.container {
    width: 100%;
    margin: 72px auto;
    position: relative;
    @include bgColor($dBlue, $mBlue, $dGreen, $mGreen, $tan, $lTan);
    @media screen and (min-width: 768px) and (max-width: 1200px) {
        display: table;
        width: 80%;
        padding: 0;
    }
    @media screen and (min-width: 1200px) {
        display: table;
        width: 1024px;
        padding: 0;
    }
    & > .left {
        padding: 14px;
        @media screen and (min-width: 768px) {
            display: table-cell;
            left: 5%;
            width: 35%;
            padding: 28px 0;
        }
        &.center {
            text-align: center;
        }
        &.visualisation {
            padding: 14px 0 28px 14px;
            @media screen and (min-width: 768px) {
                padding: 28px 0;
            }
        }
    }
    & > .right {
        padding: 14px 14px 14px 58px;
        & > .item {
            margin: 28px 0;
        }
        &.center {
            padding: 14px;
            text-align: center;
            & > h5 {
                text-align: left;
            }
            @media screen and (min-width: 768px) {
                padding: 28px 0;
            }
        }
        &.visualisation {
            vertical-align: top;
            text-align: center;
            padding: 14px;
            & > p, h5 {
                text-align: left;
            }
            & > p {
                padding-top: 42px;
            }
            @media screen and (min-width: 768px) {
            padding: 28px 0;
        }
        }
        @media screen and (min-width: 768px) {
            display: table-cell;
            right: 5%;
            width: 55%;
            padding: 28px 0;
        }
    }
}



div.gitWrapper {
    vertical-align: top;
    & div.gitHub {
        background: url(../media/github.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 120px;
        height: 120px;
        margin: 112px auto 14px auto;
        vertical-align: bottom;
    }
}


ul {
    text-align: left;
    & > li {
        margin: 28px 0;
        border-top: 2px dotted $lGray;
        padding-top: 14px;
        & > p {
            font-family: $courier;
            font-size: 12px;
            line-height: 1.2;
            display: table-cell;
            width: 80px;
            color: $dGreen;
            &::before {
                content: '(';
            }
            &::after {
                content: ')';
            }
            @media screen and (min-width: 700px) {
                width: 140px;
            }
        }
        & > div {
            display: table-cell;
        }
    }    
}

.inner {
    fill: $lGray;
}

.outer {
    fill: none;
}

text, tspan {
    fill: $mBlue;
    font-family: $courier;
    font-size: 11px;
    pointer-events: none;
    &.active {
        font-family: $courierB;
        letter-spacing: 1.2px;
        text-transform: uppercase;
    }
    @media screen and (min-width: 768px) {
        font-size: 12px;
    }
}

.link {
    fill: none;
    stroke: $lGray;
    stroke-opacity: 1;
    transition: all 0.3s ease-in-out;
    &.active {
        transition: all 0.3s ease-in-out;
        @include linkColor($red, $mGreen, $tan, $mBlue, $dGreen);
        stroke-opacity: 0.4;
    }
    &.inactive {
        stroke-opacity: 0.3;
        transition: all 0.3s ease-in-out;
    }
}

rect {
    @include rectColor($red, $mGreen, $tan, $mBlue, $dGreen);
    stroke-width: 3px;
}
 