@mixin bgColor($colors...) {
    @each $color in $colors {
        @if $color == $dBlue {
            &.dBlue {
                background: $color;
            } 
        } @else if $color == $mBlue {
            &.mBlue {
                background: $color;
            }
        } @else if $color == $dGreen {
            &.dGreen {
                background: $color;
            }
        } @else if $color == $mGreen {
            &.mGreen {
                background: $color;
            }
        } @else if $color == $tan {
            &.tan {
                background: $color;
            }
        } @else if $color == $lTan {
            &.lTan {
                background: $color;
            }
        } 
    }
}


@mixin rectColor($colors...) {
    @each $color in $colors {
        @if $color == $mBlue {
            &#id0 {
                fill: $color;
            } 
        } @else if $color == $mGreen {
            &#id1 {
                fill: $color;
            }
        } @else if $color == $tan {
            &#id2 {
                fill: $color;
            }
        } @else if $color == $red {
            &#id3 {
                fill: $color;
            }
        } @else if $color == $dGreen {
            fill: $color;
        } 
    }
}

@mixin linkColor($colors...) {
    @each $color in $colors {
        @if $color == $mBlue {
            &#link0 {
                stroke: $color;
            } 
        } @else if $color == $mGreen {
            &#link1 {
                stroke: $color;
            }
        } @else if $color == $tan {
            &#link2 {
                stroke: $color;
            }
        } @else if $color == $red {
            &#link3 {
                stroke: $color;
            }
        }  
    }
}