//Font styles
$book:'Futura LT W01 Book';
$medium:'Futura LT W01 Medium';
$bold:'Futura LT W01 Bold';
$heavy:'Futura LT W01 Heavy';
$black:'Futura LT W04 Black';
$courier:'Courier New W07 Regular';
$courierI:'Courier New W01 Italic';
$courierB:'Courier New W01 Bold';
$courier2:'Courier PS W01';

$baseSize: 14px;


//Colours
$white: #fff;
$black: #111;
$blue: #0f2228;
$green: #535c43;
$yellow: #cc9900;
$red: #7a6364;

$dBlue: #132f3b;
$mBlue: #294a51;
$dGreen: #55605a;
$mGreen: #7a7863;
$tan: #a2846a;
$lTan: #c8a98c;

$lGray: #e9e9e9;

