//Font styles
$light:'Futura LT W01 Light';
$lightOblique:'Futura LT W01 Light Oblique';
$book:'Futura LT W01 Book';
$medium:'Futura LT W01 Medium';
$bold:'Futura LT W01 Bold';
$heavy:'Futura LT W01 Heavy';
$black:'Futura LT W04 Black';

$baseSize: 14px;


//Colours
$white: #fff;
$black: #111;
$blue: #0f2228;
$green: #535c43;
$yellow: #cc9900;
$red: #692d21;

$hPink: #a25e5e;
$hTan: #a27f5e;
$hTeal: #2e504f;
$hChar: #262727;

